<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ExpenseApplayHotelMapper" >
  <resultMap id="BaseResultMap" type="com.model.ExpenseApplayHotel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="staff_depart" property="staffDepart" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="money_cost" property="moneyCost" jdbcType="DOUBLE" />
    <result column="days_cost" property="daysCost" jdbcType="VARCHAR" />
    <result column="detail_explain" property="detailExplain" jdbcType="VARCHAR" />
    <result column="staff_user_id" property="staffUserId" jdbcType="VARCHAR" />
    <result column="trip_id" property="tripId" jdbcType="INTEGER" />
    <result column="applay_status" property="applayStatus" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="approver_order" property="approverOrder" jdbcType="VARCHAR" />
    <result column="approver_history" property="approverHistory" jdbcType="VARCHAR" />
    <result column="approver_now" property="approverNow" jdbcType="VARCHAR" />
    <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, staff_id, staff_name, staff_depart, hotel_name, reason, start_time, end_time, 
    money_cost, days_cost, detail_explain, staff_user_id, trip_id, applay_status, image_url, 
    approver_order, approver_history, approver_now, refuse_reason, submit_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.ExpenseApplayHotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from expense_applay_hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from expense_applay_hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from expense_applay_hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.ExpenseApplayHotel" >
    insert into expense_applay_hotel (id, staff_id, staff_name, 
      staff_depart, hotel_name, reason, 
      start_time, end_time, money_cost, 
      days_cost, detail_explain, staff_user_id, 
      trip_id, applay_status, image_url, 
      approver_order, approver_history, approver_now, 
      refuse_reason, submit_time)
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{staffDepart,jdbcType=VARCHAR}, #{hotelName,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{moneyCost,jdbcType=DOUBLE}, 
      #{daysCost,jdbcType=VARCHAR}, #{detailExplain,jdbcType=VARCHAR}, #{staffUserId,jdbcType=VARCHAR}, 
      #{tripId,jdbcType=INTEGER}, #{applayStatus,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{approverOrder,jdbcType=VARCHAR}, #{approverHistory,jdbcType=VARCHAR}, #{approverNow,jdbcType=VARCHAR}, 
      #{refuseReason,jdbcType=VARCHAR}, #{submitTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.ExpenseApplayHotel" >
    insert into expense_applay_hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="staffName != null" >
        staff_name,
      </if>
      <if test="staffDepart != null" >
        staff_depart,
      </if>
      <if test="hotelName != null" >
        hotel_name,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="moneyCost != null" >
        money_cost,
      </if>
      <if test="daysCost != null" >
        days_cost,
      </if>
      <if test="detailExplain != null" >
        detail_explain,
      </if>
      <if test="staffUserId != null" >
        staff_user_id,
      </if>
      <if test="tripId != null" >
        trip_id,
      </if>
      <if test="applayStatus != null" >
        applay_status,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="approverOrder != null" >
        approver_order,
      </if>
      <if test="approverHistory != null" >
        approver_history,
      </if>
      <if test="approverNow != null" >
        approver_now,
      </if>
      <if test="refuseReason != null" >
        refuse_reason,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffDepart != null" >
        #{staffDepart,jdbcType=VARCHAR},
      </if>
      <if test="hotelName != null" >
        #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="moneyCost != null" >
        #{moneyCost,jdbcType=DOUBLE},
      </if>
      <if test="daysCost != null" >
        #{daysCost,jdbcType=VARCHAR},
      </if>
      <if test="detailExplain != null" >
        #{detailExplain,jdbcType=VARCHAR},
      </if>
      <if test="staffUserId != null" >
        #{staffUserId,jdbcType=VARCHAR},
      </if>
      <if test="tripId != null" >
        #{tripId,jdbcType=INTEGER},
      </if>
      <if test="applayStatus != null" >
        #{applayStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="approverOrder != null" >
        #{approverOrder,jdbcType=VARCHAR},
      </if>
      <if test="approverHistory != null" >
        #{approverHistory,jdbcType=VARCHAR},
      </if>
      <if test="approverNow != null" >
        #{approverNow,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null" >
        #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.ExpenseApplayHotel" >
    update expense_applay_hotel
    <set >
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffDepart != null" >
        staff_depart = #{staffDepart,jdbcType=VARCHAR},
      </if>
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="moneyCost != null" >
        money_cost = #{moneyCost,jdbcType=DOUBLE},
      </if>
      <if test="daysCost != null" >
        days_cost = #{daysCost,jdbcType=VARCHAR},
      </if>
      <if test="detailExplain != null" >
        detail_explain = #{detailExplain,jdbcType=VARCHAR},
      </if>
      <if test="staffUserId != null" >
        staff_user_id = #{staffUserId,jdbcType=VARCHAR},
      </if>
      <if test="tripId != null" >
        trip_id = #{tripId,jdbcType=INTEGER},
      </if>
      <if test="applayStatus != null" >
        applay_status = #{applayStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="approverOrder != null" >
        approver_order = #{approverOrder,jdbcType=VARCHAR},
      </if>
      <if test="approverHistory != null" >
        approver_history = #{approverHistory,jdbcType=VARCHAR},
      </if>
      <if test="approverNow != null" >
        approver_now = #{approverNow,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null" >
        refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.ExpenseApplayHotel" >
    update expense_applay_hotel
    set staff_id = #{staffId,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      staff_depart = #{staffDepart,jdbcType=VARCHAR},
      hotel_name = #{hotelName,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      money_cost = #{moneyCost,jdbcType=DOUBLE},
      days_cost = #{daysCost,jdbcType=VARCHAR},
      detail_explain = #{detailExplain,jdbcType=VARCHAR},
      staff_user_id = #{staffUserId,jdbcType=VARCHAR},
      trip_id = #{tripId,jdbcType=INTEGER},
      applay_status = #{applayStatus,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      approver_order = #{approverOrder,jdbcType=VARCHAR},
      approver_history = #{approverHistory,jdbcType=VARCHAR},
      approver_now = #{approverNow,jdbcType=VARCHAR},
      refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据用户的钉钉ID查询用户的待审批报销 -->
  <select	id="selectApproval" resultMap="BaseResultMap" parameterType="com.model.ToolsForselectApproval">
  		select 
  		<include refid="Base_Column_List" />
  		from expense_applay_hotel where approver_now = #{staffUserId,jdbcType=VARCHAR}
  		and staff_Id =#{staffId,jdbcType=VARCHAR}
  		and applay_status = '待审核'
  		and MONTH(submit_time) = (MONTH(CURDATE())-1)
  		order by staff_name
  </select>
  <!-- 根据用户的钉钉ID查询用户的待审批报销 -->
  <select	id="selectApproved" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select 
  		<include refid="Base_Column_List" />
  		from expense_applay_hotel where approver_history like
  		CONCAT('%', #{staffUserId,jdbcType=VARCHAR},'%')
  		order by staff_name
  		
  </select>
  <!-- 查询当前待审批用户的姓名-工号 -->
  <select	id="selectApprovalStaff" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select 
  		staff_name,staff_id,SUM(money_cost) as money_cost
  		from expense_applay_hotel where approver_now = #{staffUserId,jdbcType=VARCHAR}
  		and applay_status = '待审核'
  		and MONTH(submit_time) = (MONTH(CURDATE())-1)
  		group by staff_id
  </select>
  <!-- 查询上周当前用户待审批的条数 -->
  <select	id="selectApprovalCount" resultType="java.lang.Integer" parameterType="java.lang.String">
  		select 
  		COUNT(staff_id)
  		from expense_applay_hotel where approver_now = #{staffUserId,jdbcType=VARCHAR}
  		and applay_status = '待审核'
  		and MONTH(submit_time) = (MONTH(CURDATE())-1)
  </select>
  <!-- 更新延迟未审批的报销数据-->
  <update	id="updateDelayApproval"  parameterType="java.lang.String">
  		update expense_applay_hotel
  		set applay_status = '驳回' ,refuse_reason = '当前审批人未及时审批,系统自动驳回,请重新提交'
  	    where approver_now = #{staffUserId,jdbcType=VARCHAR}
  		and applay_status = '待审核'
  		and MONTH(submit_time) = (MONTH(CURDATE())-1)
  		order by staff_name
  </update>
</mapper>