<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.LuckyStaffMapper" >
  <resultMap id="BaseResultMap" type="com.model.LuckyStaff" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="staff_user_id" property="staffUserId" jdbcType="VARCHAR" />
    <result column="draw_type" property="drawType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, staff_name, staff_id, staff_user_id, draw_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.LuckyStaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lucky_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lucky_staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lucky_staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.LuckyStaff" >
    insert into lucky_staff (id, staff_name, staff_id, 
      staff_user_id, draw_type)
    values (#{id,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, 
      #{staffUserId,jdbcType=VARCHAR}, #{drawType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.LuckyStaff" >
    insert into lucky_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staffName != null" >
        staff_name,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="staffUserId != null" >
        staff_user_id,
      </if>
      <if test="drawType != null" >
        draw_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffUserId != null" >
        #{staffUserId,jdbcType=VARCHAR},
      </if>
      <if test="drawType != null" >
        #{drawType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.LuckyStaff" >
    update lucky_staff
    <set >
      <if test="staffName != null" >
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffUserId != null" >
        staff_user_id = #{staffUserId,jdbcType=VARCHAR},
      </if>
      <if test="drawType != null" >
        draw_type = #{drawType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.LuckyStaff" >
    update lucky_staff
    set staff_name = #{staffName,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR},
      staff_user_id = #{staffUserId,jdbcType=VARCHAR},
      draw_type = #{drawType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>