<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IUserDao">
    <resultMap type="com.model.User" id="userResultMap">
        <id property="id" column="user_id"/>
        <result property="username" column="user_name"/>
        <result property="age" column="user_age"/>
    </resultMap>

    <select id="findAllUser" resultMap="userResultMap" resultType="com.model.User">
        select * from student1
    </select>
</mapper>
