<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.YoAtteninfoMapper" >
  <resultMap id="BaseResultMap" type="com.model.YoAtteninfo" >
    <id column="inid" property="inid" jdbcType="INTEGER" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="attdate" property="attdate" jdbcType="DATE" />
    <result column="atttime" property="atttime" jdbcType="TIMESTAMP" />
    <result column="attendtime" property="attendtime" jdbcType="TIMESTAMP" />
    <result column="attendresult" property="attendresult" jdbcType="VARCHAR" />
    <result column="attaddress" property="attaddress" jdbcType="VARCHAR" />
    <result column="ifactivity" property="ifactivity" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="imgone" property="imgone" jdbcType="VARCHAR" />
    <result column="imgtwo" property="imgtwo" jdbcType="VARCHAR" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    inid, department, staff_id, userid, name, attdate, atttime, attendtime, attendresult, 
    attaddress, ifactivity, remark, imgone, imgtwo, device, deviceid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.YoAtteninfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yo_atteninfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yo_atteninfo
    where inid = #{inid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yo_atteninfo
    where inid = #{inid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.YoAtteninfo" >
    insert into yo_atteninfo (inid, department, staff_id, 
      userid, name, attdate, 
      atttime, attendtime, attendresult, 
      attaddress, ifactivity, remark, 
      imgone, imgtwo, device, 
      deviceid)
    values (#{inid,jdbcType=INTEGER}, #{department,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{attdate,jdbcType=DATE}, 
      #{atttime,jdbcType=TIMESTAMP}, #{attendtime,jdbcType=TIMESTAMP}, #{attendresult,jdbcType=VARCHAR}, 
      #{attaddress,jdbcType=VARCHAR}, #{ifactivity,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{imgone,jdbcType=VARCHAR}, #{imgtwo,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, 
      #{deviceid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.YoAtteninfo" >
    insert into yo_atteninfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inid != null" >
        inid,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="attdate != null" >
        attdate,
      </if>
      <if test="atttime != null" >
        atttime,
      </if>
      <if test="attendtime != null" >
        attendtime,
      </if>
      <if test="attendresult != null" >
        attendresult,
      </if>
      <if test="attaddress != null" >
        attaddress,
      </if>
      <if test="ifactivity != null" >
        ifactivity,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="imgone != null" >
        imgone,
      </if>
      <if test="imgtwo != null" >
        imgtwo,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inid != null" >
        #{inid,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="attdate != null" >
        #{attdate,jdbcType=DATE},
      </if>
      <if test="atttime != null" >
        #{atttime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendtime != null" >
        #{attendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendresult != null" >
        #{attendresult,jdbcType=VARCHAR},
      </if>
      <if test="attaddress != null" >
        #{attaddress,jdbcType=VARCHAR},
      </if>
      <if test="ifactivity != null" >
        #{ifactivity,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgone != null" >
        #{imgone,jdbcType=VARCHAR},
      </if>
      <if test="imgtwo != null" >
        #{imgtwo,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.YoAtteninfo" >
    update yo_atteninfo
    <set >
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="attdate != null" >
        attdate = #{attdate,jdbcType=DATE},
      </if>
      <if test="atttime != null" >
        atttime = #{atttime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendtime != null" >
        attendtime = #{attendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendresult != null" >
        attendresult = #{attendresult,jdbcType=VARCHAR},
      </if>
      <if test="attaddress != null" >
        attaddress = #{attaddress,jdbcType=VARCHAR},
      </if>
      <if test="ifactivity != null" >
        ifactivity = #{ifactivity,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgone != null" >
        imgone = #{imgone,jdbcType=VARCHAR},
      </if>
      <if test="imgtwo != null" >
        imgtwo = #{imgtwo,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=VARCHAR},
      </if>
    </set>
    where inid = #{inid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.YoAtteninfo" >
    update yo_atteninfo
    set department = #{department,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      attdate = #{attdate,jdbcType=DATE},
      atttime = #{atttime,jdbcType=TIMESTAMP},
      attendtime = #{attendtime,jdbcType=TIMESTAMP},
      attendresult = #{attendresult,jdbcType=VARCHAR},
      attaddress = #{attaddress,jdbcType=VARCHAR},
      ifactivity = #{ifactivity,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      imgone = #{imgone,jdbcType=VARCHAR},
      imgtwo = #{imgtwo,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      deviceid = #{deviceid,jdbcType=VARCHAR}
    where inid = #{inid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap2" type="com.model.YoAtteninfoExcelExport" >
    <result column="name1" property="name" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="attendtime" property="attendTime" jdbcType="TIMESTAMP" />
    <result column="attendresult" property="attendResult" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="sco_project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="sco_order_name" property="orderName" jdbcType="VARCHAR" />
    <result column="sco_contrat_type" property="contractType" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 考勤信息详情明细导出 -->
   <select id="selectAtteninfoExcelExport" parameterType="com.model.YoAtteninfo" resultMap="BaseResultMap2">
  	 select a.name1,  a.staff_id, a.department, a.attendtime, a.attendresult, a.deviceid, a.remark, b.sco_project_name, b.sco_order_name, b.sco_contrat_type
  	 	from  
  	 	<trim prefix="(" suffix=")" suffixOverrides="," >
  	 		select j.name as name1,j.staff_id,j.department,j.attendtime,j.attendresult,j.deviceid,j.remark from yo_atteninfo j WHERE
  	 		<if test="attendtime == null">
  	 	    <![CDATA[DATE_SUB(CURDATE(),INTERVAL 1 MONTH) <= DATE_FORMAT(attdate,'%Y-%m-%d') ]]>
  	 	    </if> 
  	 	    <if test="attendtime != null ">
  	 	     <![CDATA[
  	 	     	DATE_FORMAT(attdate,'%Y-%m-%d') >= DATE_FORMAT(#{attendtime,jdbcType=TIMESTAMP},'%Y-%m-%d')
  	 	     	 and DATE_FORMAT(attdate,'%Y-%m-%d') <= DATE_FORMAT(#{atttime,jdbcType=TIMESTAMP},'%Y-%m-%d')
  	 	     ]]>
  	 	    </if>
  	 		<if test="department !=null">
  	 	 		and  department= '${department}'
  	 		</if>
  	 	</trim>
  	 	a
  	 	<!-- 项目名和订单名 都为空--><!-- 单独对部门考勤表的查看 -->
  	 	<if test="attaddress == null or attaddress ==''">
  	 	    <if test="device == null or device == ''">
  	 	     left join 
  	 	     (select sco_project_name ,sco_order_name,sco_contrat_type,sco_staff_id from yo_staff_current_order) b
  	 	     on a.staff_id = b.sco_staff_id
  	 	    </if>
  	 	</if>
  	 	<!-- 项目名和订单名都不为空，或者其中一个为空 --><!-- 对某一部门某一项目或者某一订单考勤表的查看 -->
  	 	<if test="attaddress != null and attaddress !='' or device != null and device != ''">
  	 	
  	 	INNER JOIN 
  	 	<trim prefix="(" suffix=")" suffixOverrides="," >
  	 	select sco_project_name ,sco_order_name,sco_contrat_type,sco_staff_id from yo_staff_current_order
  	 	  where 
  	 	  <!-- 订单名不为空的情况 -->
  	 	<if test="attaddress != null and attaddress != ''">
  	 	   sco_order_name = #{attaddress,jdbcType=VARCHAR} 
  	 	</if> 
         <!-- 项目名不为空的情况 -->
  	 	<if test="device != null and device != ''">
  	 	   <!-- 项目名不为空,并且订单名为空 -->
  	 	   <if test="attaddress == null or attaddress ==''">
  	 		sco_project_name = #{device,jdbcType=VARCHAR}
  	 		</if>	
  	 		<!-- 项目名不为空,并且订单名不为空 -->
  	 		<if test="attaddress != null and attaddress !=''">
  	 		and sco_project_name = #{device,jdbcType=VARCHAR}
  	 		</if>
  	 	</if>
  	 	</trim>
  	 	  as b on a.staff_id = b.sco_staff_id
  	 	</if>  
   </select> 
</mapper>