<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.YoLoanMapper" >
  <resultMap id="BaseResultMap" type="com.model.YoLoan" >
    <id column="approve_no" property="approveNo" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="approve_result" property="approveResult" jdbcType="VARCHAR" />
    <result column="ask_start_time" property="askStartTime" jdbcType="VARCHAR" />
    <result column="ask_end_time" property="askEndTime" jdbcType="VARCHAR" />
    <result column="ask_staff_id" property="askStaffId" jdbcType="VARCHAR" />
    <result column="ask_staff_name" property="askStaffName" jdbcType="VARCHAR" />
    <result column="ask_staff_dep" property="askStaffDep" jdbcType="VARCHAR" />
    <result column="approver_history" property="approverHistory" jdbcType="VARCHAR" />
    <result column="approve_record" property="approveRecord" jdbcType="VARCHAR" />
    <result column="approver_now" property="approverNow" jdbcType="VARCHAR" />
    <result column="approve_cost" property="approveCost" jdbcType="VARCHAR" />
    <result column="loan_start_time" property="loanStartTime" jdbcType="VARCHAR" />
    <result column="loan_aim_mc" property="loanAimMc" jdbcType="VARCHAR" />
    <result column="loan_aim_sc" property="loanAimSc" jdbcType="VARCHAR" />
    <result column="loan_sum" property="loanSum" jdbcType="VARCHAR" />
    <result column="loan_payee" property="loanPayee" jdbcType="VARCHAR" />
    <result column="loan_bank" property="loanBank" jdbcType="VARCHAR" />
    <result column="loan_branch" property="loanBranch" jdbcType="VARCHAR" />
    <result column="loan_bank_account" property="loanBankAccount" jdbcType="VARCHAR" />
    <result column="loan_reason" property="loanReason" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="operation_status" property="operationStatus" jdbcType="VARCHAR" />
    <result column="export_status" property="exportStatus" jdbcType="VARCHAR" />
    <result column="approve_repayment" property="approveRepayment" jdbcType="VARCHAR" />
    <result column="approve_invoice" property="approveInvoice" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="approve_advice" property="approveAdvice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    approve_no, title, approve_status, approve_result, ask_start_time, ask_end_time, 
    ask_staff_id, ask_staff_name, ask_staff_dep, approver_history, approve_record, approver_now, 
    approve_cost, loan_start_time, loan_aim_mc, loan_aim_sc, loan_sum, loan_payee, loan_bank, 
    loan_branch, loan_bank_account, loan_reason, other, operation_status, export_status, 
    approve_repayment, approve_invoice, image_url, approve_advice
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.YoLoanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yo_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yo_loan
    where approve_no = #{approveNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yo_loan
    where approve_no = #{approveNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.YoLoan" >
    insert into yo_loan (approve_no, title, approve_status, 
      approve_result, ask_start_time, ask_end_time, 
      ask_staff_id, ask_staff_name, ask_staff_dep, 
      approver_history, approve_record, approver_now, 
      approve_cost, loan_start_time, loan_aim_mc, 
      loan_aim_sc, loan_sum, loan_payee, 
      loan_bank, loan_branch, loan_bank_account, 
      loan_reason, other, operation_status, 
      export_status, approve_repayment, approve_invoice, 
      image_url, approve_advice)
    values (#{approveNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{approveStatus,jdbcType=VARCHAR}, 
      #{approveResult,jdbcType=VARCHAR}, #{askStartTime,jdbcType=VARCHAR}, #{askEndTime,jdbcType=VARCHAR}, 
      #{askStaffId,jdbcType=VARCHAR}, #{askStaffName,jdbcType=VARCHAR}, #{askStaffDep,jdbcType=VARCHAR}, 
      #{approverHistory,jdbcType=VARCHAR}, #{approveRecord,jdbcType=VARCHAR}, #{approverNow,jdbcType=VARCHAR}, 
      #{approveCost,jdbcType=VARCHAR}, #{loanStartTime,jdbcType=VARCHAR}, #{loanAimMc,jdbcType=VARCHAR}, 
      #{loanAimSc,jdbcType=VARCHAR}, #{loanSum,jdbcType=VARCHAR}, #{loanPayee,jdbcType=VARCHAR}, 
      #{loanBank,jdbcType=VARCHAR}, #{loanBranch,jdbcType=VARCHAR}, #{loanBankAccount,jdbcType=VARCHAR}, 
      #{loanReason,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{operationStatus,jdbcType=VARCHAR}, 
      #{exportStatus,jdbcType=VARCHAR}, #{approveRepayment,jdbcType=VARCHAR}, #{approveInvoice,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{approveAdvice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.YoLoan" >
    insert into yo_loan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="approveNo != null" >
        approve_no,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="approveResult != null" >
        approve_result,
      </if>
      <if test="askStartTime != null" >
        ask_start_time,
      </if>
      <if test="askEndTime != null" >
        ask_end_time,
      </if>
      <if test="askStaffId != null" >
        ask_staff_id,
      </if>
      <if test="askStaffName != null" >
        ask_staff_name,
      </if>
      <if test="askStaffDep != null" >
        ask_staff_dep,
      </if>
      <if test="approverHistory != null" >
        approver_history,
      </if>
      <if test="approveRecord != null" >
        approve_record,
      </if>
      <if test="approverNow != null" >
        approver_now,
      </if>
      <if test="approveCost != null" >
        approve_cost,
      </if>
      <if test="loanStartTime != null" >
        loan_start_time,
      </if>
      <if test="loanAimMc != null" >
        loan_aim_mc,
      </if>
      <if test="loanAimSc != null" >
        loan_aim_sc,
      </if>
      <if test="loanSum != null" >
        loan_sum,
      </if>
      <if test="loanPayee != null" >
        loan_payee,
      </if>
      <if test="loanBank != null" >
        loan_bank,
      </if>
      <if test="loanBranch != null" >
        loan_branch,
      </if>
      <if test="loanBankAccount != null" >
        loan_bank_account,
      </if>
      <if test="loanReason != null" >
        loan_reason,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="operationStatus != null" >
        operation_status,
      </if>
      <if test="exportStatus != null" >
        export_status,
      </if>
      <if test="approveRepayment != null" >
        approve_repayment,
      </if>
      <if test="approveInvoice != null" >
        approve_invoice,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="approveAdvice != null" >
        approve_advice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="approveNo != null" >
        #{approveNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="approveResult != null" >
        #{approveResult,jdbcType=VARCHAR},
      </if>
      <if test="askStartTime != null" >
        #{askStartTime,jdbcType=VARCHAR},
      </if>
      <if test="askEndTime != null" >
        #{askEndTime,jdbcType=VARCHAR},
      </if>
      <if test="askStaffId != null" >
        #{askStaffId,jdbcType=VARCHAR},
      </if>
      <if test="askStaffName != null" >
        #{askStaffName,jdbcType=VARCHAR},
      </if>
      <if test="askStaffDep != null" >
        #{askStaffDep,jdbcType=VARCHAR},
      </if>
      <if test="approverHistory != null" >
        #{approverHistory,jdbcType=VARCHAR},
      </if>
      <if test="approveRecord != null" >
        #{approveRecord,jdbcType=VARCHAR},
      </if>
      <if test="approverNow != null" >
        #{approverNow,jdbcType=VARCHAR},
      </if>
      <if test="approveCost != null" >
        #{approveCost,jdbcType=VARCHAR},
      </if>
      <if test="loanStartTime != null" >
        #{loanStartTime,jdbcType=VARCHAR},
      </if>
      <if test="loanAimMc != null" >
        #{loanAimMc,jdbcType=VARCHAR},
      </if>
      <if test="loanAimSc != null" >
        #{loanAimSc,jdbcType=VARCHAR},
      </if>
      <if test="loanSum != null" >
        #{loanSum,jdbcType=VARCHAR},
      </if>
      <if test="loanPayee != null" >
        #{loanPayee,jdbcType=VARCHAR},
      </if>
      <if test="loanBank != null" >
        #{loanBank,jdbcType=VARCHAR},
      </if>
      <if test="loanBranch != null" >
        #{loanBranch,jdbcType=VARCHAR},
      </if>
      <if test="loanBankAccount != null" >
        #{loanBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="loanReason != null" >
        #{loanReason,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="operationStatus != null" >
        #{operationStatus,jdbcType=VARCHAR},
      </if>
      <if test="exportStatus != null" >
        #{exportStatus,jdbcType=VARCHAR},
      </if>
      <if test="approveRepayment != null" >
        #{approveRepayment,jdbcType=VARCHAR},
      </if>
      <if test="approveInvoice != null" >
        #{approveInvoice,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="approveAdvice != null" >
        #{approveAdvice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.YoLoan" >
    update yo_loan
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="approveResult != null" >
        approve_result = #{approveResult,jdbcType=VARCHAR},
      </if>
      <if test="askStartTime != null" >
        ask_start_time = #{askStartTime,jdbcType=VARCHAR},
      </if>
      <if test="askEndTime != null" >
        ask_end_time = #{askEndTime,jdbcType=VARCHAR},
      </if>
      <if test="askStaffId != null" >
        ask_staff_id = #{askStaffId,jdbcType=VARCHAR},
      </if>
      <if test="askStaffName != null" >
        ask_staff_name = #{askStaffName,jdbcType=VARCHAR},
      </if>
      <if test="askStaffDep != null" >
        ask_staff_dep = #{askStaffDep,jdbcType=VARCHAR},
      </if>
      <if test="approverHistory != null" >
        approver_history = #{approverHistory,jdbcType=VARCHAR},
      </if>
      <if test="approveRecord != null" >
        approve_record = #{approveRecord,jdbcType=VARCHAR},
      </if>
      <if test="approverNow != null" >
        approver_now = #{approverNow,jdbcType=VARCHAR},
      </if>
      <if test="approveCost != null" >
        approve_cost = #{approveCost,jdbcType=VARCHAR},
      </if>
      <if test="loanStartTime != null" >
        loan_start_time = #{loanStartTime,jdbcType=VARCHAR},
      </if>
      <if test="loanAimMc != null" >
        loan_aim_mc = #{loanAimMc,jdbcType=VARCHAR},
      </if>
      <if test="loanAimSc != null" >
        loan_aim_sc = #{loanAimSc,jdbcType=VARCHAR},
      </if>
      <if test="loanSum != null" >
        loan_sum = #{loanSum,jdbcType=VARCHAR},
      </if>
      <if test="loanPayee != null" >
        loan_payee = #{loanPayee,jdbcType=VARCHAR},
      </if>
      <if test="loanBank != null" >
        loan_bank = #{loanBank,jdbcType=VARCHAR},
      </if>
      <if test="loanBranch != null" >
        loan_branch = #{loanBranch,jdbcType=VARCHAR},
      </if>
      <if test="loanBankAccount != null" >
        loan_bank_account = #{loanBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="loanReason != null" >
        loan_reason = #{loanReason,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="operationStatus != null" >
        operation_status = #{operationStatus,jdbcType=VARCHAR},
      </if>
      <if test="exportStatus != null" >
        export_status = #{exportStatus,jdbcType=VARCHAR},
      </if>
      <if test="approveRepayment != null" >
        approve_repayment = #{approveRepayment,jdbcType=VARCHAR},
      </if>
      <if test="approveInvoice != null" >
        approve_invoice = #{approveInvoice,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="approveAdvice != null" >
        approve_advice = #{approveAdvice,jdbcType=VARCHAR},
      </if>
    </set>
    where approve_no = #{approveNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.YoLoan" >
    update yo_loan
    set title = #{title,jdbcType=VARCHAR},
      approve_status = #{approveStatus,jdbcType=VARCHAR},
      approve_result = #{approveResult,jdbcType=VARCHAR},
      ask_start_time = #{askStartTime,jdbcType=VARCHAR},
      ask_end_time = #{askEndTime,jdbcType=VARCHAR},
      ask_staff_id = #{askStaffId,jdbcType=VARCHAR},
      ask_staff_name = #{askStaffName,jdbcType=VARCHAR},
      ask_staff_dep = #{askStaffDep,jdbcType=VARCHAR},
      approver_history = #{approverHistory,jdbcType=VARCHAR},
      approve_record = #{approveRecord,jdbcType=VARCHAR},
      approver_now = #{approverNow,jdbcType=VARCHAR},
      approve_cost = #{approveCost,jdbcType=VARCHAR},
      loan_start_time = #{loanStartTime,jdbcType=VARCHAR},
      loan_aim_mc = #{loanAimMc,jdbcType=VARCHAR},
      loan_aim_sc = #{loanAimSc,jdbcType=VARCHAR},
      loan_sum = #{loanSum,jdbcType=VARCHAR},
      loan_payee = #{loanPayee,jdbcType=VARCHAR},
      loan_bank = #{loanBank,jdbcType=VARCHAR},
      loan_branch = #{loanBranch,jdbcType=VARCHAR},
      loan_bank_account = #{loanBankAccount,jdbcType=VARCHAR},
      loan_reason = #{loanReason,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      operation_status = #{operationStatus,jdbcType=VARCHAR},
      export_status = #{exportStatus,jdbcType=VARCHAR},
      approve_repayment = #{approveRepayment,jdbcType=VARCHAR},
      approve_invoice = #{approveInvoice,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      approve_advice = #{approveAdvice,jdbcType=VARCHAR}
    where approve_no = #{approveNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateApproveMessage" parameterType="com.model.YoLoan" >
    update yo_loan
    set 
      approve_status = #{approveStatus,jdbcType=VARCHAR},
      approve_advice = #{approveAdvice,jdbcType=VARCHAR}
    where approve_no = #{approveNo,jdbcType=VARCHAR}
  </update>
</mapper>